<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layoutMcompras :: head"></head>
<body>

	<header th:replace="layout/layoutMcompras :: header"></header>

	<div class="container py-4">

		<div class="card bg-dark text-white">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<div th:object="${proveedor}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>
				<form th:action="@{/proveedor/form}" th:object="${proveedor}" method="post"
					enctype="multipart/form-data">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Nombre</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{vnombre}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('vnombre')}"
								th:errors="*{vnombre}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Teléfono</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{ntelefono}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('ntelefono')}"
								th:errors="*{ntelefono}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Localidad</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{vlocalidad}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('vlocalidad')}"
								th:errors="*{vlocalidad}"></small>
						</div>
					</div>

						<div class="form-group row">
						<label class="col-sm-2 col-form-label">Email</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{vemail}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('vemail')}"
								th:errors="*{vemail}"></small>
						</div>
					</div>
					
						<div class="form-group row">
						<label class="col-sm-2 col-form-label">Direccion</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{vdireccion}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('vdireccion')}"
								th:errors="*{vdireccion}"></small>
						</div>
					</div>
					
						<div class="form-group row">
						<label class="col-sm-2 col-form-label">Pais</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{vpais}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('vpais')}"
								th:errors="*{vpais}"></small>
						</div>
					</div>
					
						<div class="form-group row">
						<label class="col-sm-2 col-form-label">Provincia</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{vprovincia}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('vprovincia')}"
								th:errors="*{vprovincia}"></small>
						</div>
					</div>
						 <div class="form-group row">
						<label class="col-sm-2 col-form-label">Cif</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{cif}" class="form-control"
								th:errorclass="'form-control alert-danger'" />
								 <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('cif')}"
								th:errors="*{cif]"></small>
						</div>
					</div>
					

					<!-- HTML Form (wrapped in a .bootstrap-iso div) 

					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="date">Fecha</label>
						<div class="col-sm-6">
							<input class="form-control" id="date" name="date"
								placeholder="DD/MM/YYYY" type="text" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('dfecha_fin')}"
								th:errors="*{dfecha_fin}"></small>
						</div>
					</div>
							-->


					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" value="Crear Proveedor"
								class="btn btn-secondary" />
							<button type="reset" class="btn btn-secondary">Resetear</button>
							<a th:href="@{'/proveedor/listarProveedor'}" class="btn btn-secondary">Listar Proveedores</a>
						</div>
					</div>
					<input type="hidden" th:field="*{nproveedor}"/>

				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layoutMcompras :: footer"></footer>
</body>
</html>