<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="admin/admin_layout">
<head>
    <meta charset="utf-8"/>
    <title>Listar Pedidos</title>
    <link rel="stylesheet" href="../css/table.css">
    <!--  Bootstrap  -->
    <link href="cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
    <!-- Plugin Leaflet.awesome-markers  -->
    <link rel="stylesheet" href="../dist/leaflet.awesome-markers.css">
    <script type="text/javaScript" src="/js/pedidolistar.js"></script>
    <style>
        /* Clases de estado para los colores de las filas */
        .estado-Pendiente {
            background-color: #f8d7da; /* Rojo claro */
        }

        .estado-Realizando {
            background-color: #fff3cd; /* Amarillo claro */
        }

        .estado-Terminado {
            background-color: #d4edda; /* Verde claro */
        }
    </style>
</head>

<body>
<div layout:fragment="content">
    <div class="container py-4">
        <div class="card bg-light">
            <div class="card-header" th:text="${titulo}"></div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-sm-14">
                        <form enctype="multipart/form-data" id="formBusqueda" method="post"
                              th:action="@{'/pedidos/buscar'}">
                            <label for="cliente" th:text="'Cliente'"></label>
                            <select id="cliente" name="cliente">
                                <option value="">Seleccione</option>
                                <option th:each="cliente:${clientes}" th:text="${cliente.nombre}"
                                        th:value="${cliente.nombre}"></option>
                            </select>
                            <label for="estado" th:text="'Estado'"></label>
                            <select id="estado" name="estado">
                                <option value="">Seleccione</option>
                                <option th:each="estado:${estados}" th:text="${estado}" th:value="${estado}"></option>
                            </select>
                            <input class="btn btn-primary btn-sm" type="submit" value="Buscar">
                        </form>

                        <form enctype="multipart/form-data" id="formInforme" method="post"
                              th:action="@{'/pedidos/report/'}">
                            <input id="clienteHidden" name="cliente" type="hidden">
                            <input id="estadoHidden" name="estado" type="hidden">
                            <input class="btn btn-primary btn-sm" type="submit" value="Generar Informe">
                        </form>
                    </div>

                    <div class="table-responsive">
                        <table class="table mt-2" id="table">
                            <thead class="thead-dark">
                            <tr>
                                <th>Nº Pedido</th>
                                <th>Cliente</th>
                                <th>Estado</th>
                                <th>T.Pedido</th>
                                <th>F.Pedido</th>
                                <th>Ver</th>
                                <th>Editar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="estado-${pedido.estado}" th:each="pedido:${pedido}">
                                <td th:text="${pedido.npedido}"></td>
                                <td th:text="${pedido.cliente.nombre}"></td>
                                <td th:text="${pedido.estado}"></td>
                                <td th:text="${pedido.tipoPedido}"></td>
                                <td th:text=" ${#dates.format(pedido.dfecha, 'dd/MM/yyyy')}"></td>
                                <td><a class="btn btn-primary btn-sm" th:href="@{'/pedidos/ver/' + ${pedido.npedido}}"
                                       th:text="'detalle'"></a></td>
                                <td><a class="btn btn-primary btn-sm"
                                       th:href="@{'/pedidos/formEditar/' + ${pedido.npedido}}" th:text="'Editar'"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <nav th:replace="paginator-nav ::paginator"></nav>
        </div>
    </div>
</div>


</body>
</html>
