<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller Artesanal Joyería</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <div class="container-fluid">
        <!-- Logo o Nombre del Sitio -->
        <a class="navbar-brand" href="/" th:href="@{/}">Taller Artesanal Joyería</a>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <!-- Notificaciones -->
            <li class="nav-item dropdown">
                <a aria-expanded="false" class="nav-link" data-toggle="dropdown" href="#" role="button">
                    <i class="fas fa-bell"></i>
                    <span class="badge badge-warning navbar-badge" th:text="${total}">3</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header"
                          th:text="${total} + ' Notifications'">3 Notifications</span>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-envelope mr-2"></i> Nuevos mensajes
                        <span class="float-right text-muted text-sm">3 mins</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item dropdown-footer" th:href="@{'/notifications/notifications'}">Ver todas</a>
                </div>
            </li>

            <!-- Usuario y Logout en un Dropdown -->
            <li class="nav-item dropdown">
                <a aria-expanded="false" class="nav-link" data-toggle="dropdown" href="#" role="button">
                    <i class="fas fa-user"></i>
                    <span sec:authentication="name"></span> <!-- Nombre del Usuario -->
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" th:href="@{/profile}">
                        <i class="fas fa-user-circle mr-2"></i> Perfil
                    </a>
                    <a class="dropdown-item" th:href="@{/settings}">
                        <i class="fas fa-cog mr-2"></i> Configuración
                    </a>
                    <div class="dropdown-divider"></div>
                    <form method="post" th:action="@{/logout}" th:object="${_csrf.parameterName}"
                          th:value="${_csrf.token}">
                        <button class="dropdown-item" type="submit">
                            <i class="fas fa-sign-out-alt mr-2"></i> Cerrar sesión
                        </button>
                    </form>


                </div>
            </li>
        </ul>
    </div>
</nav>
<!-- /.navbar -->
</body>
</html>
