<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layoutMcompras :: head">
<meta charset="utf-8" />

<title>Gestion Piscinas</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script
	src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="../css/table.css">
</head>

<style>
.centerBlock {
      
      width:100%;
      padding:10px;
      text-align:center
      
}
</style>

<body>

	<header th:replace="layout/layoutMcompras :: header"></header>

	<div class="container py-4">


		<div class="card bg-light">			
			<div class="card-body">
						<div class="card  text-center border-info ">
<div class="centerBlock">
				<div class="row">
					<div class="col-md-12">
					<div class="row">
					<div class="col-md-3">
					
						<div >
							<div class="list-group-item active">N° FACTURA ORIGINAL</div>
							<div class="list-group-item">
								<div class="col-xs-4 text-left">

									<h6>
										<span th:text=" ${factura.npersonal}"></span>
									</h6>
								</div>
							</div>
						</div>
					</div>
						
												<div class="col-md-3">
					
						<div  >
							<div class="list-group-item active">N° ALBARAN ASOCIADO</div>
							<div class="list-group-item ">
								<div class="col-xs-6 text-left">

									<h6>
										<span th:text=" ${factura.numeroAlbaran}"></span>
									</h6>
								</div>
							</div>
						</div>
					</div>
											<div class="col-md-3">
					
						<div  >
							<div class="list-group-item active">OBRA</div>
							<div class="list-group-item ">
								<div class="col-xs-6 text-center">

									<h6>
										<span th:text=" ${factura.vlugar}"></span>
									</h6>
								</div>
							</div>
						</div>
					</div>
											<div class="col-md-3">
					
						<div  >
							<div class="list-group-item active">FECHA VENCIMIENTO</div>
							
								<div class="col-xs-6 text-center">

									<h6 th:if="${factura.fechavencimiento>date}">
									
											<blink th:text="${factura.fechavencimiento}"  class="list-group-item bg-danger"></blink>
									</h6>
									<h6 th:if="${factura.fechavencimiento<date}">
										
											<blink th:text="${factura.fechavencimiento}" class="list-group-item" ></blink>
									</h6>
								</div>
							
							
						</div>
					</div>
				</div></div>
				</div>
</div></div>
				<br>
				<div class="row">
					<div class="col-md-12">

						<div class="row">
						
							<div class="col-md-4">
						<div class="card border-info" style="max-width: 20rem;">
								<div class="list-group-item active">
									<h5>
									 <span th:text="${factura.nproveedor.vnombre}"> </span>
									</h5>
								</div>
					<div class="list-group-item list-group-item">	
									 Dirección: <span th:text="${factura.nproveedor.vdireccion}">
									</span> <br>Teléfono: <span
										th:text="${factura.nproveedor.ntelefono}"> </span> <br>Email:
									<span th:text="${factura.nproveedor.vemail}"> </span> <br>Cif:
									<span th:text="${factura.nproveedor.cif}"> </span>
								</div>
							</div>
							</div>
							<div class="col-md-4"></div>
							<div class="col-md-4">
						<div class="card border-info mb-4" style="max-width: 20rem;">
								<div class="list-group-item active">
									<h5>
										 <span th:text="${factura.cliente.nombre}+' '+${factura.cliente.apellido}"></span>
									</h5>
								</div>
					<div class="list-group-item list-group-item">	
									Dirección <span th:text="${factura.cliente.direccion}">
									</span> <br>Teléfono: <span
										th:text="${factura.cliente.telefono}"> </span> <br>Email:
									<span th:text="${factura.cliente.email}"> </span> <br>Cliente:
									<span th:text="${factura.cliente.id}"> </span>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			


<hr>

	
			<div class="alert alert-info my-4"
				th:if="${#lists.isEmpty(factura.items)}"
				th:text="'No hay lineas para la factura' + ${factura.id}"></div>


			<table th:if="${not #lists.isEmpty(factura.items)}"
				class="table table-striped table-hover table-bordered my-3">
				<thead>
					<tr>
						<th>Producto</th>
						<th>Precio</th>
						<th>Cantidad</th>
						<th>Descuento</th>

						<th>Total</th>
					</tr>
					<tr>

					</tr>
				</thead>
				<tbody>
					<tr th:each="linea: ${factura.items}">
						<td th:text="${linea.producto.nombre}"></td>
						<td
							th:text="${#numbers.formatDecimal(linea.producto.precio, 0, 'DEFAULT', 2, 'DEFAULT')}+' €'"></td>

						<td th:text="${linea.cantidad}"></td>
						<td th:text="${linea.producto.descuento}+' %'"></td>
						<td
							th:text="${#numbers.formatDecimal(linea.calcularImporte(), 0, 'DEFAULT', 2, 'DEFAULT')}+' €'"></td>

					</tr>
				</tbody>
			</table>
			<div class="float-right">
				<table th:if="${not #lists.isEmpty(factura.items)}"
					class="table table-striped table-hover table-bordered my-3">
					<thead>
						<tr>
							<td>SubTotal</td>
							<td><h6>

									<span
										th:text="${#numbers.formatDecimal(factura.subTotal, 0, 'DEFAULT', 2, 'DEFAULT')}+' €'"></span>
								</h6></td>
						</tr>
						<tr>
							<td>Iva</td>
							<td><h6>

									<span
										th:text="${#numbers.formatDecimal(factura.totalIva, 0, 'DEFAULT', 2, 'DEFAULT')}+' €'"></span>
								</h6></td>
						</tr>
						<tr>
							<th>Anticipo</th>
							<td>
							<h6>
									<span th:text="${factura.nanticipo}+' €'"></span>
								</h6></td>

						</tr>
						<tr>
							<th>Total</th>
							<td><h6>

									<span
										th:text="${#numbers.formatDecimal(factura.Total, 0, 'DEFAULT', 2, 'DEFAULT')}+' €'"></span>
								</h6></td>

						</tr>
					</thead>
					<tbody>

					</tbody>


				</table>
			</div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
<hr>
<div class="row">
					<div class="col-md-12">

						<div class="row">
						
							<div class="col-md-4">

			<ul class="list-group my-2">


					<li class="list-group-item active" th:text=" 'Detalles de Fechas'"></li>
<li class="list-group-item"
					th:text="'Creación: ' + ${factura.createAt}">
					<li class="list-group-item"
					th:text="'Albaran: ' + ${factura.dfechaAlbaran}"></li>
				<li class="list-group-item"
					th:text="'Factura: ' + ${factura.dfechaFactura}"></li>
				
			</ul>
					
					</div>
				
					
					
			
												<div class="col-md-4">
								<ul class="list-group my-2">
										<li class="list-group-item active" th:text="'Detalles de Pago'"></li>
					
				<li class="list-group-item"
					th:text="'Metodo : ' + ${factura.metodoPago}"></li>

				<li class="list-group-item"
					th:if="${not #strings.isEmpty(factura.vtrimenstre)}"
					th:text="'Trimestre : ' + ${factura.vtrimenstre}+' / '+${fechadefactura}"></li>
				<li class="list-group-item" th:text="'Pagada : ' + ${factura.npagada_factura}"
					
					></li>
					
					
				<li class="list-group-item"
					th:text="'Declarada :  ' + ${factura.enviadoagestor}"></li> 
				<li class="list-group-item"
					th:text="'Cuenta : ' + ${factura.vdomiciliacion}"></li>
				</ul>
				</div>
		<div class="col-md-4">							
			<div class="list-group my-2" style="max-width: 20rem;">
				<div class="list-group-item active" >Observaciones</div>
					<div class="list-group-item">
						<p class="card-text" th:text="${factura.observacion}"
						th:if="${not #strings.isEmpty(factura.observacion)}"></p>
						<h4 class="card-title"
						th:if="${#strings.isEmpty(factura.observacion)}"
						th:text="'No tiene observaciones'"></h4>
					</div>
			</div>
		</div>
				
			</div>	</div></div>
				

	<div class="col-md-4">							
			<div class="list-group my-2" style="max-width: 20rem;">
				<div class="list-group-item active" >Documentos Escaneados</div>
					<div class="list-group-item">
						<p class="card-text" th:text="${factura.foto}"
						th:if="${not #strings.isEmpty(factura.observacion)}"></p>
						<h4 class="card-title"
						th:if="${#strings.isEmpty(factura.foto)}"
						th:text="'No tiene documentos escaneados'"></h4>
						
						<img th:if="${#strings.length(factura.foto)>0}"
				class="img-thumbnail rounded float-left" style="max-width: 15%;"
				th:src="@{'/uploads/' + ${factura.foto}}" th:alt="${factura.foto}" />
					</div>
			</div>
		</div>
			
		
			
			<br> <br>
			

		</div>
		<div>
			<a th:href="@{'/facturas/listarFacturasSinContabilizar'}"
				class="btn btn-light btn-xs">&laquo; volver</a>
		</div>
	</div>

	</div>
	<footer th:replace="layout/layoutMcompras :: footer"></footer>
</body>
</html>