<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<script type="text/javascript" th:fragment="javascript">
		
			$("#buscar_producto").autocomplete({

				source : function(request, response) {
					$.ajax({
						url : "/albaranes/cargar-productos/" + request.term,
						dataType : "json",
						data : {
							term : request.term
						},
						success : function(data) {
							response($.map(data, function(item) {
								return {
									value : item.id,
									label : item.nombre,
									precio : item.precio,
									descuento : item.descuento,
								};
							}));
						},
					});
				},
				select : function(event, ui) {
					//$("#buscar_producto").val(ui.item.label);

					if(itemsHelper.hasProducto(ui.item.value)){
						itemsHelper.incrementaCantidad(ui.item.value, ui.item.precio,ui.item.descuento);
						return false;
					}
					
					var linea = $("#plantillaItemsFactura").html();

					linea = linea.replace(/{ID}/g, ui.item.value);
					linea = linea.replace(/{NOMBRE}/g, ui.item.label);
					linea = linea.replace(/{PRECIO}/g, ui.item.precio);
					linea = linea.replace(/{DESCUENTO}/g, ui.item.descuento);
//coge los valores para poder calcular
					$("#cargarItemProductos tbody").append(linea);
					//tiene que tener el mismo orden que la funcion
					itemsHelper.calcularImporte(ui.item.value, ui.item.precio,1,ui.item.descuento);

					return false;
				}
			});

			$("form").submit(function(){
				$("#plantillaItemsFactura").remove();
				return;
			});

		
		
		var itemsHelper = {
				calcularImporte: function(id, precio, cantidad,descuento){
					//hace los calculos y muestra en pantallla
				
				var des=parseFloat(precio.toFixed(2))*parseInt(descuento)/100;				
				var	pre = parseFloat(precio.toFixed(2))-des;
				var total = pre.toFixed(2) * parseInt(cantidad);
					
					$("#total_importe_" + id).html(total.toFixed(2));
					this.calcularGranTotal();
					this.calcularBaseIva();
					this.calcularTotalIva();
					this.copiarValorTotal();//copia el valor del total a una variable total de la tabla factura 
					this.copiarValorIva();//copia el valor del iva a una variable iva de la tabla factura
					
					
					
					console.log('precio '+ precio);
					console.log('cantidad '+ cantidad);
					console.log('descuento' + descuento);
					console.log('des '+des);
					console.log('prs '+pre);
				},
				hasProducto: function(id){
					
					var resultado = false;
					
					$('input[name="item_id[]"]').each(function(){
						if(parseInt(id) == parseInt($(this).val()) ){
							resultado = true;
						}
					});
					
					return resultado;
				},
				incrementaCantidad: function(id,precio){
					var cantidad = $("#cantidad_" + id).val() ? parseInt($("#cantidad_" + id).val()) : 0;
					$("#cantidad_" + id).val(++cantidad);
					this.calcularImporte(id,precio, cantidad,descuento);
				},
				eliminarLineaFactura: function(id){
					$("#row_" + id).remove();
					this.calcularGranTotal();
					this.calcularBaseIva();
					this.calcularTotalIva();
				},
				calcularGranTotal: function(){
					var total = 0;
					
					$('span[id^="total_importe_"]').each(function(){
						total += parseFloat($(this).html());
					});
					
					$('#gran_total').html(total);
				},
				calcularBaseIva: function(){
					var total = 0;
					var div =21/100;
					$('span[id^="total_importe_"]').each(function(){
						total += parseFloat($(this).html());
					});
					
					$('#base_ival').html((total*parseFloat(div)).toFixed(2));
				},
				calcularTotalIva: function(){
					var total =0;
					
					
					var valor = document.getElementById("base_ival").innerHTML;
					var anticipo = document.getElementById("anticipo").value;
					var valorAn= parseFloat(valor)-parseFloat(anticipo);
					
					
					if(anticipo!=null){
						
						$('span[id^="total_importe_"]').each(function(){
							total += parseFloat($(this).html());
						});
						
						
						$('#gran_total_iva').html((total+parseFloat(valorAn)).toFixed(2));
						$('#anticipo2').html((parseFloat(anticipo)).toFixed(2));
					
						
						

					}else 
						{		$('span[id^="total_importe_"]').each(function(){
							total += parseFloat($(this).html());
						});
						
						
						$('#gran_total_iva').html((total+parseFloat(valor)).toFixed(2));
						$('#anticipo2').html((parseFloat(anticipo)).toFixed(2));
				
						}
				},copiarValorTotal: function(){
					
					var totalpasar=0;
					$('span[id^="gran_total_iva"]').each(function(){
						totalpasar = parseFloat($(this).html());
					});
					$('#total_iva').val(parseFloat(totalpasar));
					
					
				},
				copiarValorIva: function(){
					
					var totalpasarIva=0;
					$('span[id^="base_ival"]').each(function(){
						totalpasarIva = parseFloat($(this).html());
					});
					$('#ivaprecio').val(parseFloat(totalpasarIva));
				}
		
				
		}
		
	</script>
</body>
</html>