<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/admin_layout">
<head>
    <meta charset="utf-8" />
    <title>Detalle del Cliente</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/dist/leaflet.awesome-markers.css">
    <link rel="stylesheet" href="/stylePage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* Estilos generales para el contenedor con scroll */
        .scroll-container {
            max-height: 100vh;
            overflow-y: auto;
            padding: 1rem;
        }

        /* Estilos para mejorar la responsividad */
        @media (max-width: 770px) {
            .list-group-item {
                font-size: 0.8rem;
            }
            table {

                font-size: 0.8rem;
            }
            .nav-link {
                font-size: 0.8rem;
            }
            .table-responsive {
                overflow-x: auto;
                font-size: 0.7rem;
            }
        }
            /*hacer las letras mas pequeñas*/
        .list-group-item {
            font-size: 1rem;
        }
        .table-responsive {
            overflow-x: auto;
            font-size: 1rem;
        }

        .nav-tabs {
            margin-bottom: 1rem;
        }

        table {
            width: 100%;

        }

        .thead-dark th {
            cursor: pointer;
        }

        .sorting {
            background-color: #D4D4D4;
        }

        .asc:after {
            content: ' ↑';
        }

        .desc:after {
            content: " ↓";
        }
    </style>
</head>
<body>

<div layout:fragment="content">
    <div class="container py-8">
      <div class="scroll-container">
        <div class="card bg-light">
            <div class="card-header" th:text="${titulo}"></div>
            <div class="card-body">
                <h4 class="card-title">
                    <!-- Botones para crear facturas, albaranes y pedidos -->
                </h4>
                <ul class="list-group">
                    <li class="list-group-item active" th:text="'Datos del Cliente'"></li>
                    <li class="list-group-item" th:text="'Dirección: '+${cliente.direccion}"></li>
                    <li class="list-group-item" th:text="'Teléfono: '+${cliente.telefono}"></li>
                    <li class="list-group-item" th:text="'Email: '+ ${cliente.email}"></li>
                    <li class="list-group-item" th:text="'Fecha de Alta: '+${cliente.createAt}"></li>
                </ul>
                <br>
                <!-- Pestañas para Pedidos y Albaranes -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pedidos-tab" data-toggle="tab" href="#pedidos" role="tab" aria-controls="pedidos" aria-selected="true">Pedidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="albaranes-tab" data-toggle="tab" href="#albaranes" role="tab" aria-controls="albaranes" aria-selected="false">Albaranes</a>
                    </li>
                </ul>

                <!-- Contenido de las pestañas -->
                <div class="tab-content" id="myTabContent">
                    <!-- Tab para los pedidos -->
                    <div class="tab-pane fade show active" id="pedidos" role="tabpanel" aria-labelledby="pedidos-tab">
                        <h4 class="mt-3">Pedidos del Cliente</h4>
                        <div class="table-responsive">
                            <!-- Tabla de Pedidos -->
                            <table id="table" class="table mt-2">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Nº Pedido</th>
                                    <th>Cliente</th>
                                    <th>Estado</th>
                                    <th>Tipo de Pedido</th>
                                    <th>F. Pedido</th>
                                    <th>Ver</th>
                                    <th>Editar</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- Contenido de la tabla de pedidos -->
                                <tr th:each="pedido:${pedido}">
                                    <td th:text="${pedido.npedido}"></td>
                                    <td th:text="${pedido.cliente.nombre}"></td>
                                    <td th:text="${pedido.estado}"></td>
                                    <td th:text="${pedido.tipoPedido}"></td>
                                    <td th:text="${#dates.format(pedido.dfecha, 'dd/MM/yyyy')}"></td>
                                    <td><a class="btn btn-primary btn-sm" th:href="@{'/pedidos/ver/' + ${pedido.npedido}}" th:text="'detalle'"></a></td>
                                    <td><a class="btn btn-primary btn-sm" th:href="@{'/pedidos/formEditar/' + ${pedido.npedido}}" th:text="'Editar'"></a></td>
                                </tr>
                                </tbody>
                            </table>
                            <div th:if="${#lists.isEmpty(cliente.pedido)}" class="alert alert-info my-4" th:text="'No hay Pedidos asignados para el cliente ' + ${cliente.nombre} + ' ' + ${cliente.apellido}"></div>
                            <nav th:replace="paginator-navVerPedido ::paginatorPedido"></nav>
                        </div>
                    </div>

                    <!-- Tab para los albaranes -->
                    <div class="tab-pane fade" id="albaranes" role="tabpanel" aria-labelledby="albaranes-tab">
                        <h4 class="mt-3">Albaranes del Cliente</h4>
                        <div class="table-responsive">
                            <!-- Tabla de Albaranes -->
                            <table id="tableAlbaran" class="table mt-2">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Nº Albaran</th>
                                    <th>F. Albaran</th>
                                    <th>Cliente</th>
                                    <th>Tipo de Pedido</th>
                                    <th>Total</th>
                                    <th>Ver</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- Contenido de la tabla de albaranes -->
                                <tr th:each="factura:${factura}">
                                    <td th:text="${factura.id}"></td>
                                    <td th:text ="${factura.dfechaAlbaran}"></td>
                                    <td th:text="${factura.cliente.nombre}"></td>
                                    <td th:text="${factura.tipoPedido}"></td>
                                    <td th:text="${#numbers.formatDecimal(factura.subTotal, 0, 'DEFAULT', 2, 'DEFAULT')}+' €'"></td>
                                    <td><a class="btn btn-primary btn-sm" th:href="@{'/facturas/ver/' + ${factura.id}}" th:text="'Ver'"></a></td>
                                </tr>
                                </tbody>
                            </table>
                            <div th:if="${#lists.isEmpty(cliente.facturas)}" class="alert alert-info my-4" th:text="'No hay Albaranes asignados para el cliente ' + ${cliente.nombre} + ' ' + ${cliente.apellido}"></div>
                            <nav th:replace="paginator-navVerFactura ::paginatorFactura"></nav>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</div>

</body>
</html>
